[user]
	name = Matt Parker
	email = mattmparker@gmail.com
[core]
	excludesfile = ~/.gitignore_global
[alias]
    # I use git log --oneline a lot, and it's a bit much to type...
    lg = !git log --oneline --decorate --graph
